@import "style.scss";

.clubs__content-item,
.clubs__content-item:active,
.clubs__content-item:focus {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
.swiper-button-prev,
.swiper-button-prev:active,
.swiper-button-prev:focus,
.swiper-button-next,
.swiper-button-next:active,
.swiper-button-next:focus,
.swiper-pagination-bullet {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: none;
}

// Preloader
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 33;
    opacity: 1;
    visibility: visible;
    transition: 0.6s all ease;
    background-color: #fff;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        width: 90vw;
        font-size: 22px;
        color: #2f941b;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Montserrat Alternates', sans-serif;
    
    }

    svg {
        display: block;
        width:258px;
        height:200px;

      }
      
      .tree {
        fill: #2f941b;
      }
      
      .circle-mask {
        transform-origin: 50% 90%;
        animation: scale 5s infinite ease-out;
      }
      
      @keyframes scale {
        0%, 100% {
          transform: scale(0.0);
        }
        7%, 90% {
          transform: scale(0.4);
        }
        50% {
          transform: scale(1);
        }
      }

    &.done {
        opacity: 0;
        visibility: hidden;
    }
}

// Intro
.intro {
    height: 100vh;
    padding-bottom: 28vh;
    background: url(../../img/main/intro.jpg) center center/cover no-repeat;
    background-attachment: fixed;

    .weather {
        margin-top: 20px;
        width: fit-content;
        padding: 5px 40px;
        height: auto;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
        border-left: 3px solid rgb(255, 255, 255);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;

        &__top {
            width: 100%;
            height: 50%;
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-deg {
            font-size: 40px;
        }

        &-icon {
            margin-left: 10px;
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 45px;
                height: 45px;
                object-fit: contain;
            }
        }

        &-description {
            &:first-letter {
                text-transform: uppercase;
            }
        }
    }
}

// BLOCK: Afisha
.afisha {
    padding-top: 100px;
    margin-bottom: 100px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        h1 {
            width: 65%;
            font-weight: 400;
            font-size: 36px;
        }

        a {
            text-decoration: none;
            color: #000;
            width: 34%;
            font-size: 18px;

            &:hover {
                color: #147900;
            }

            i.fa {
                margin-left: 5px;
                font-size: 20px;
            }
        }
    }

    &__items {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &-main {
            display: block;
            text-decoration: none;
            position: relative;
            width: 65%;
            height: 400px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            background: url(../../img/afisha/afisha_main.jpg) center center/cover no-repeat;

            &:hover:before {
                background: rgba(0, 0, 0, 0.75);
            }

            &:before {
                position: absolute;
                display: block;
                content: '';
                width: 100%;
                height: 100%;
                left: 0;
                top:0;
                background: rgba(0, 0, 0, 0.7);
            }
        
            * {
                z-index: 2;
            }
            
            &_content {
                width: 94%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-bottom: 10px;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;

                .main-text {
                    width: 100%;
                    height: 100%;
                    padding: 10px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    color: #fff;

                    h2 {
                        font-weight: 500;
                        margin-top: -30px;
                    }

                    p {
                        font-size: 18px;
                        font-weight: 300;
                    }

                }
            }

        }

        &-others {
            width: 34%;
            min-height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .other-afisha {
                width: 100%;
                height: 27%;
                display: flex;
                justify-content: space-between;

                .other-logo {
                    width: 43%;
                    height: 100%;
                    background: url(../../img/afisha/afisha_others.png) center center/cover no-repeat;
                }

                .other-title {
                    width: 55%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    a {
                        text-decoration: none;
                        color: #000;
                    }
                }
            }
        }
    }

    #date {
        font-size: 12px;
        color: #aaa;
    }
}
    
// BLOCK: Attractions
.attr {
    width: 100%;
    margin-bottom: 100px;
    // background-color: #fff;

    .attr-container {
        width: 100%;
        height: 440px;
        overflow: hidden;
        display: flex;
        position: relative;
    }

    .attr-wrapper {
        display: flex;
    }
    
    .attr-slide {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
        .slide-title {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 60px;
            font-size: 18px;
            letter-spacing: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.8);
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
    
    .swiper-pagination {
        margin-top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
    
    .swiper-pagination-bullet {
        background-color: #777;
        opacity: 1;
        margin: 3px;
        width: 10px;
        height: 10px;
    }
    
    .swiper-pagination-bullet-active {
        background-color: #222;
    }
    
    .swiper-button-next, .swiper-button-prev {
        position: absolute;
        top: auto;
        bottom: 0px;
        left: 0;
        width: 60px;
        height: 60px;
    }
    
    .swiper-button-next {
        left: auto;
        right: 0;
    }
    
    .swiper-button-next:after, .swiper-button-prev:after {
        color: #fff;
        font-size: 20px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;


        h1 {
            font-weight: 400;
            font-size: 36px;
            color: #000;
            z-index: 2;
        }

        a {
            text-decoration: none;
            color: #000;
            font-size: 18px;
            z-index: 2;

            &:hover {
                color: #147900;
            }

            i.fa {
                margin-left: 5px;
                font-size: 20px;
            }
        }
    }
}

// BLOCK: Clubs
.clubs {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    background: url(../../img/main/clubs_bg.png) center center/cover no-repeat;
    background-attachment: fixed;

    &__header {
        h1 {
            font-size: 36px;
            font-weight: 500;
            color: #fff;
            margin-bottom: 50px;
        }
    }

    &__content {
        width: 100%;

        &-item {
            height: 70px;
            position: relative;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            padding: 20px 0;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            transition: height .2s ease;
            overflow: hidden;

            .clubs-showfull {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                right: 10px;
                top: 20px;
                font-size: 40px;
                cursor: pointer;
                transition: transform 0.4s linear;
            }

            .clubs-title {
                width: 65%;
                display: flex;
                flex-direction: column;

                h2 {
                    font-size: 24px;
                    font-weight: 400;
                }

                span {
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity .4s ease, transform .2s linear;
                    transform: translateY(-100%);

                    a {
                        text-decoration: none;
                        color: #fff;
                        font-weight: 300;
                        text-decoration: underline;
    
                        i.fa {
                            margin-left: 5px;
                        }
    
                        &:hover {
                            color: #147900;
                        }
                    }
                }

                span.active {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0%);
                    transition: opacity .4s ease, transform .8s ease;
                }
            }
            
            .clubs-description {
                width: 28%;
                margin-right: 4%;
                opacity: 0;
                transform: translateX(100%);
                transition: opacity .4s ease, transform .4s ease;

                p {
                    font-weight: 300;
                }
            }

            .clubs-description.active {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
}

// BLOCK: History
.history-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;

    h1 {
        font-weight: 400;
        font-size: 36px;
        color: #000;
        z-index: 2;
    }

    a {
        text-decoration: none;
        color: #000;
        font-size: 18px;
        z-index: 2;

        &:hover {
            color: #147900;
        }

        i.fa {
            margin-left: 5px;
            font-size: 20px;
        }
    }
}

.history-date {
    width: 100%;
    height: 200px;
    background: #151515;
}

.history-text {
    width: 100%;
    height: 200px;
    background: url(../../img/main/history_bg1.jpg) center center/cover no-repeat;
    position: relative;

    &:after {
        position: absolute;
        display: block;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
      }
}
    .swiper-container {
      width: 100%;
      overflow: hidden;
  
      .swiper-wrapper {
        width: 100%;
  
        .swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
        }
      }
    }
  
    .gallery-top {
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;

  
      .darked-left {
        position: absolute;
        width: 20%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(to right, #151515 40%, transparent 100%);
        z-index: 3;
      }
  
      .darked-right {
        position: absolute;
        width: 20%;
        height: 100%;
        right: 0;
        top: 0;
        background: linear-gradient(to left, #151515 40%, transparent 100%);
        z-index: 3;
      }
  
      .swiper-slide {
        .year {
          position: relative;
          color: #555;
          font-size: 24px;
          margin-top: -20px;
          height: 50px;
          display: flex;
          align-items: flex-end;
          transition: all .3s ease;
  
          &:after {
            position: absolute;
            display: block;
            content: '';
            left: 50%;
            bottom: -25px;
            transform: translateX(-50%);
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #555;
          }
        }
  
        &-active {
          .year {
            color: #fff;
            font-size: 40px;
  
            &:after {
              background: #fff;
            }
          }
        }
      }
  
      .swiper-button-next, .swiper-button-prev {
        transform: scale(0.7);
      }
  
      .date-line {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(30px);
        width: 100%;
        height: 4px;
        border-radius: 5px;
        background: linear-gradient(to left, transparent, #444, transparent);
      }
  
      // order: 2;
    }
  
    .gallery-thumbs {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      text-align: center;
      // order: 1;
  
      &:before {
        position: absolute;
        display: block;
        content: '';
        left: 50%;
        top: 0;
        width: 25px;
        height: 25px;
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: #151515;
        z-index: 1;
      }
  
      .swiper-wrapper {
  
        .swiper-slide {
          opacity: 0 !important;
          transition: opacity .3s ease !important;
  
          p {
            padding: 0 50px;
            font-size: 18px;
          }
        }
    
        .swiper-slide-thumb-active {
          opacity: 1 !important;
          transition: opacity .3s ease !important;
        }
      }
    }

// Media Quares
@media screen and (max-width: 1200.02px) {
    .afisha {
        &__items {
            &-main {
                &_content {
                    .main-text {
                        h2 {
                            margin-top: -10px;
                        }

                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .clubs {
        &__content {
            &-item {
                .clubs-title {
                    h2 {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992.02px) {    
    .afisha {
        &__items {
            flex-direction: column;

            &-main {
                width: 100%;
                margin-bottom: 20px;

                &_content {
                    .main-text {
                        h2 {
                            margin-top: -20px;
                        }

                        p {
                            font-size: 16px;
                        }
                    }
                }
            }

            &-others {
                width: 100%;
                height: 550px;

                .other-afisha {
                    .other-title{
                        a {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    .clubs {
        &__header {
            h1 {
                font-size: 24px;
            }
        }

        &__content {
            &-item {
                flex-direction: column;
                justify-content: flex-start;
                padding: 22px 0;

                .clubs-title {
                    width: 88%;

                    h2 {
                        font-weight: 500;
                    }

                    span {
                        margin: 8px 0 30px;
                    }
                }

                .clubs-description {
                    width: 90%;
                    font-style: italic;
                    transform: translateX(-100%);
                }
            }
        }
    }

    .history-date {
        .swiper-slide {
            .year {
                font-size: 20px;
            }

            &-active {
                .year {
                    font-size: 32px;
                }
            }
        }
    }

    .history-text {
        height: 250px;
    }
}

@media screen and (max-width: 768.02px) {
    .intro {
        background-attachment: scroll;
    }

    .afisha {
        &__header {
            flex-direction: column;

            h1 {
                width: 100%;
                font-size: 30px;
                margin-bottom: 10px;
            }

            a {
                width: 100%;
                font-size: 20px;
            }
        }
    }

    .attr {
        &__header {
            flex-direction: column;

            h1 {
                width: 100%;
                font-size: 30px;
                margin-bottom: 10px;
            }

            a {
                width: 100%;
                font-size: 20px;
            }
        }

        .attr-container {
            height: 320px;
        }
    }

    .clubs {
        background-attachment: scroll;
        &__content {
            &-item {                
                .clubs-title {
                    h2 {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .history-header {
        flex-direction: column;

        h1 {
            width: 100%;
            font-size: 30px;
            margin-bottom: 10px;
        }

        a {
            width: 100%;
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 576.02px) {
    .intro {
        .weather {
            height: auto;
            padding: 5px 20px;

            &-deg {
                font-size: 30px;
            }

            &-icon {
                transform: scale(0.8);
            }

            &-description {
                font-size: 15px;
            }
        }
    }

    .attr {
        .attr-slide {
            .slide-title {
                height: 50px;
            }
        }

        .swiper-button-prev, .swiper-button-next {
            width: 50px;
            height: 50px;
        }
    }

    .clubs {
        &__content {
            &-item {
                .clubs-showfull {
                    font-size: 30px;
                    right: 10px;
                }

                .clubs-title {
                    h2 {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .history-date {
        .swiper-slide {
            .year {
                margin-bottom: 20px;
                font-size: 18px;

                &:after {
                    bottom: -35px;
                }
            }

            &-active {
                .year {
                    font-size: 26px;
                }
            }
        }

        .gallery-top {
            .darked-left, .darked-right {
                width: 30%;
            }

            .swiper-button-prev {
                left: 0px;
                transform: scale(0.5);
            }

            .swiper-button-next {
                right: 0;
                transform: scale(0.5);
            }
        }
    }

    .history-text {
        .gallery-thumbs {
            .swiper-wrapper {
                .swiper-slide {
                    p {
                        padding: 0 10px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 426.02px) {
    .afisha {
        &__items {
            &-main {
                &_content {
                    height: 60%;

                    .main-text {
                        h2 {
                            font-size: 18px;
                        }

                        p {
                            font-size: 16px;
                        }
                    }
                }
            }

            &-others {
                height: auto;

                .other-afisha {
                    flex-direction: column;
                    height: auto;
                    margin: 10px 0;

                    .other-logo {
                        width: 100%;
                        height: 200px;
                        margin: 0 auto;
                    }

                    .other-title {
                        width: 100%;
                        height: auto;
                        justify-content: flex-end;

                        a {
                            margin: 10px 0 15px;
                        }
                    }
                }
            }
        }
    }

    .attr {
        .attr-container {
            height: 250px;

            .slide-title {
                font-size: 14px;
            }
        }

        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
        }
    }

    .history-date {
        height: 150px;
        &__content {
            padding: 0 0 50px;

            .darked-right, .darked-left {
                width: 10%;
            }

            .years {
                &-item {
                    font-size: 16px;
                }

                &-item.active {
                    font-size: 24px;
                }
            }
        }
    }

    .history-text {
        height: 430px;

        .history-btn {
            width: 20px;
            height: 20px;
        }
    }
}