@import 'vi.scss';

.blur {
    display: none;
}

.afisha-card {
    background: none;
    padding-top: 70px;

    &:after {
        display: none;
    }

    &__content {
        small {
            color: #000;
        }

        h2 {
            color: #000;
        }

        &_text {
            color: #000;
        }
    }
}

.vi-dark {
    h1, h2, h3, a, p, span, small {
        color: #fff !important;
    }
}