@import 'vi.scss';

.blur {
    display: none;
}

.clubs-card {
    background: none;
    padding-top: 70px;

    &:after {
        display: none;
    }

    &__content {
        .to-prev-page {
            img {
                filter: brightness(0);
            }
        }

        small {
            color: #000;
        }

        h2 {
            color: #000;
        }

        &_text {
            color: #000;
        }

        .chief, .contact-tel {
            color: #000;

            span a {
                color: #000;
            }
        }
    }
}

.vi-dark {
    h1, h2, h3, h4, a, p, ul, span, small {
        color: #fff !important;
    }

    .to-prev-page {
        img {
            filter: brightness(1);
        }
    }
}