@import 'vi.scss';

.contacts {
    &__address {
        &-map {
            display: none;
        }

        &-text {
            text-align: center;
            width: 100%;
            margin-bottom: 30px;
        }
    }

    &__info {
        margin: 0 auto;
    }
}

.vi-dark {
    h1, h2, h3, h4, h5, h6, small, a, p, span, ul, li {
        color: #fff !important;
    }
}

@media screen and (max-width: 992.02px) {
    .contacts {
        &__info {
            &-item {
                margin-bottom: 50px;
            }
        }
    }
}