@import 'vi.scss';

.afisha {
    &__header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 50px;

        h1 {
            width: 100%;
            font-weight: 700;
        }
        
        a {
            width: auto;
            font-size: 24px;
        }
    }

    &__items {
        display: block;
        width: auto;

        &-main {
            background-image: none;
            display: block;
            width: fit-content;
            height: auto;

            &:before {
                display: none;
            }

            &_content {
                display: block;
                border: none;
                width: auto;
                height: auto;
                margin: 0;

                .main-text {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    justify-content: flex-start;

                    #date {
                        order: 2;
                        font-size: 16px;
                        color: #222;
                        margin-top: 5px;
                    }

                    h2 {
                        order: 1;
                        margin-top: 0;
                        color: #000;
                        font-size: 24px;
                        border-bottom: 1px dashed #444;
                    }

                    p {
                        display: none;
                    }
                }
            }
        }

        &-others {
            width: fit-content;
            min-height: auto;
            display: block;

            .other-afisha {
                height: auto;
                display: block;
                border: none;
                margin: 40px 0;

                .other-logo {
                    display: none;
                }

                .other-title {
                    width: auto;
                    height: auto;
                    justify-content: flex-start;
                    font-weight: 500;

                    a {
                        font-size: 24px;
                        width: auto;
                        border-bottom: 1px dashed #444;
                    }
                }

                #date {
                    margin-top: 5px;
                    font-size: 16px;
                    color: #222;
                    font-weight: 400;
                }
            }
        }
    }
}

.attr {
    &__header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 50px;

        h1 {
            width: 100%;
            font-weight: 700;
        }
        
        a {
            width: auto;
            font-size: 24px;
        }
    }

    .attr-container {
        height: auto;
        overflow: visible;
        display: block;
        position: static;
    }

    .attr-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .attr-slide {
        position: static;
        display: block;
        width: 30%;
        border: 1px dashed #000;
        padding: 10px;
        margin: 18px;
        text-decoration: none;

        img {
            width: 100%;
            height: 200px;
        }

        .slide-title {
            position: static;
            width: auto;
            height: auto;
            display: block;
            letter-spacing: auto;
            background-color: transparent;
            color: #000;
            text-transform: none;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
        }
    }

    .swiper-pagination, .swiper-pagination-bullet, .swiper-button-prev, .swiper-button-next {
        display: none;
    }
}

.clubs {
    background: none;
    color: #000;

    &__header {
        h1 {
            width: 100%;
            font-weight: 700;
            color: #000;
            margin-bottom: 50px;
        }
    }

    &__content {
        width: auto;
        display: flex;
        flex-wrap: wrap;

        &-item-vi {
            width: 30%;
            height: auto;
            padding: 10px !important;
            margin: 18px;
            border: 1px dashed #000;
            
            .clubs-showfull {
                display: none;
            }

            .clubs-title {
                h2 {
                    font-weight: 600;
                    font-size: 19px;
                    margin-bottom: 10px;
                }
                span {
                    a {
                        color: #000;
                    }
                }
            }

            .clubs-description {
                margin-top: 20px;
                // font-style: italic;
                font-size: 17px;
            }
        }
    }
}

.history-header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;

    h1 {
        width: 100%;
        font-weight: 700;
    }
    
    a {
        width: auto;
        font-size: 24px;
    }
}

.history-date {
    display: none;
}

.history-text {
    background: none;
    height: auto;
    position: static;
    margin-bottom: 50px;

    &:after {
        display: none;
    }

    &:before {
        display: none;
    }

    .swiper-container {
        &:before {
            display: none;
        }

        overflow: visible;

        .swiper-wrapper {
            .swiper-slide {
                display: static;
                color: #000;
            }
        }
    }
}

.gallery-top {
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
}

.gallery-thumbs {
    position: static;
    display: block;

    &:before {
        display: none;
    }

    .swiper-wrapper {
        display: block;

        .swiper-slide {
            opacity: 1 !important;
            display: block;
            margin-bottom: 15px;
            text-align: left;

            p {
                padding: 0;
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 1200.02px) {
    .attr {
        .attr-wrapper {
            justify-content: space-between;

            .attr-slide {
                width: 48%;
                margin: 20px 0;

                img {
                    height: 250px;
                }
            }
        }
    }

    .clubs {
        &__content {
            justify-content: space-between;

            &-item-vi {
                width: 48%;
                margin: 20px 0;
            }
        }
    }
}

@media screen and (max-width: 768.02px) {
    .attr {
        .attr-wrapper {
            .attr-slide {
                width: 100%;

                img {
                    height: 350px;
                }
            }
        }
    }

    .clubs {
        &__content {
            &-item-vi {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 576.02px) {
    .afisha {
        &__header {
            h1 {
                font-size: 24px;
            }

            a {
                font-size: 20px;
            }
        }
    }

    .attr {
        &__header {
            h1 {
                font-size: 24px;
            }

            a {
                font-size: 20px;
            }
        }

        .attr-wrapper {
            .attr-slide {
                img {
                    height: 250px;
                }
            }
        }
    }

    .clubs {
        &__header {
            h1 {
                font-size: 24px;
            }
        }
    }
}


