@import 'vi.scss';

.info {
    .clubs__info {
        background: transparent;
        border: 2px solid #000;
        color: #000;
    }
}

.services {
    a.services__item {
        height: auto;
        display: block;
        border: 1px dashed #000;
        padding: 20px;
        text-decoration: none;
        background: none;

        .services__item-title {
            margin-bottom: 20px;
            color: #000;
        }

        &:after {
            display: none;
        }

        ul {
            display: block;
            position: static;
            transform: none;
            opacity: 1;
            padding-right: 0;
            transition: none;
            color: #000;
        }

        &:hover:after {
            background-color: transparent;
        }

        &:hover ul {
            transform: none;
        }

        &:hover .services__item-title {
            transform: none;
        }
    }
}

.vi-dark {
    h1, h2, h3, a, p, span, ul, li {
        color: #fff !important;
    }

    .services__item {
        border-color: #fff !important;
    }
}

@media screen and (max-width: 992.02px) {
    .services {
        &__item {
            height: auto;

            &:hover &-title {
                transform: translateY(0);
            }

            &-title {
                position: static;
            }
        }
    }
}