@import 'vi.scss';

.blur {
    display: none;
}

.vacancy-card {
    background: none;
    padding-top: 70px;
    background: none !important;

    &:after {
        display: none;
    }

    &__content {
        .to-prev-page {
            img {
                filter: brightness(0);
            }
        }

        small {
            color: #000;
        }

        h2 {
            color: #000;
        }

        &_text {
            color: #000 !important;
        }

        p {
            color: #000 !important;
        }

        .salary {
            color: #000 !important;
        }

        .requirements, .duties {
            color: #000 !important;
        }   

        .send-request {
            border: 1px solid #000;
            background-color: transparent;
            transition: none;

            &:hover {
                background-color: transparent;
                color: #000;
            }
        }
    }
}

.request-form {
    background-color: #fff;
    border: 2px solid #000;

    h3 {
        color: #000;
    }

    form {
        .form-item {
            label {
                color: #000 !important;
                transform: none;
            }
    
            input {
                border: 1px solid #000 !important;
                color: #000;
                padding: 5px;
            }

            input[type="submit"] {
                background-color: rgb(129, 255, 129);
                border: 1px solid #000;
            }

            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus {
            -webkit-text-fill-color: #000 !important;
            -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
            transition: background-color 5000s ease-in-out 0s;
            }
        }
    }

    .close-modal {
        color: #000;
    }
}

.vi-dark {
    h1, h2, h3, h4, a, p, ul, span, small {
        color: #fff !important;
    }

    .vacancy-card {
        &__content {
            .send-request {
                outline: 1px solid #fff;
                color: #fff;
                background-color: transparent;
                transition: none;
    
                &:hover {
                    background-color: transparent;
                    color: #fff;
                }
            }
        }
    }

    .request-form {
        background-color: #111;
        border: 2px solid #fff;
    
        h3 {
            color: #fff;
        }
    
        form {
            .form-item {
                label {
                    color: #fff !important;
                }
        
                input {
                    border: 1px solid #fff !important;
                    color: #fff !important;
                }
    
                input[type="submit"] {
                    background-color: rgb(255, 255, 255);
                    border: 1px solid #fff;
                    color: #000 !important;
                }

                input:-webkit-autofill,
                input:-webkit-autofill:hover,
                input:-webkit-autofill:focus {
                -webkit-text-fill-color: #fff !important;
                -webkit-box-shadow: 0 0 0px 1000px #111 inset !important;
                transition: background-color 5000s ease-in-out 0s;
                }
            }
        }
    
        .close-modal {
            color: #fff;
        }
    }

    .to-prev-page {
        img {
            filter: brightness(1);
        }
    }
}