@import 'vi.scss';

.vacancy {
    &__item {
        border: 1px dashed #000;
        padding: 30px 0;
        text-decoration: none;

        &:after {
            display: none;
        }

        &-img {
            display: none;

            img {
                display: none;
            }
        }

        &-title {
            position: static;
            width: 100%;
            text-align: center;
            transform: none;
            color: #000;
            word-break: break-word;
        }
    }
}

.vi-dark {
    h1, h2, h3, a, p, span, .vacancy__item-title {
        color: #fff !important;
    }

    .vacancy__info, .vacancy__item {
        border-color: #fff !important;
    }
}