@import "style.scss";

.intro {
    background: url(../img/partners/partners.jpg) center 10%/cover no-repeat;
}

.partners {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 24%);
    justify-content: space-between;

    &__item {
        margin: 20px 0;

        &-img {
            width: 100%;
            height: 160px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.2s linear;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        &-title {
            margin-top: 10px;
            
            a {
                text-decoration: none;
                color: #000;
                font-size: 18px;
                font-weight: 600;
                transition: color .15s linear;

                &:hover {
                    color: rgb(0, 102, 0);
                }
            }
        }
    }
}

@media screen and (max-width: 1200.02px) {
    .partners {
        &__info {
            &-item {
                font-size: 13px;
            }
        }

    &__item {
        &-img {
            height: 140px;
        }
    }
    }
}

@media screen and (max-width: 992.02px) {
    .partners {
        grid-template-columns: repeat(auto-fill, 31%);

        &__info {
            &-item {
                margin: 0 10px;
                font-size: 12px;

                i.fa {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 768.02px) {
    .partners {
        grid-template-columns: repeat(auto-fill, 48%);

        &__info {
            flex-wrap: wrap;

            &-item {
                width: 100%;
                height: auto;
                margin: 10px 10%;

                &:first-child {
                    margin-left: calc(10% + 4px);
                }
            }
        }
    }
}

@media screen and (max-width: 466.02px) {
    .partners {
        grid-template-columns: repeat(auto-fill, 100%);

        &__item {
            &-img {
                height: 180px;
            }
        }
    }
}

