* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

section, header, footer {
    padding: 0 calc(50vw - 570px);
}

// Reset default tap highlights
button, a,
.menu-btn, .menu-btn:focus, .menu-btn:active,
button:focus, button:active,
a:focus, a:active {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

// Header
.header {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all .2s ease-out;

    &__logo a {
        display: block;
        width: 190px;
        height: 55px;
        background: url(../img/logo1.png) center center/cover no-repeat;
    }

    &__navmenu {
        z-index: 0;
        margin-left: -30px;

        & >ul {
            display: flex;
            align-items: center;
        }

        ul {
            list-style: none;

            li {
                margin: 0 15px;
                position: relative;

                span {
                    display: inline-block;
                    margin-left: 8px;
                    transform: rotate(90deg) scale(1.7);
                }
                
                &:hover ul {
                    display: block;
                }

                a {
                    text-decoration: none;
                    font-size: 16px;
                    color: #fff;
                    font-weight: 700;
                    // text-transform: uppercase;
                    transition: .15s linear;

                    &:hover {
                        color: #2f941b;
                    }
                }

                ul {
                    display: none;
                    position: absolute;
                    top: 20px;
                    left: -50%;
                    background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 83%, transparent 60%);
                    // border: 1px solid #fff;
                    // border-bottom: 1px solid white;
                    padding: 20px 25px 15px;

                    li {
                        margin: 15px 0 0;

                        a {
                            color: #fff;
                        }

                        &:last-child a {
                            color: #aaa;
                        }
                    }
                }
            }
        }

        .search {
            position: relative;
            
            button {
                width: 50px;
                height: 50px;
                background: none;
                border: none;
                outline: none;
                cursor: pointer;
    
                i.fa {
                    font-size: 20px;
                    color: #fff;
                }
            }

            input {
                opacity: 0;
                position: absolute;
                width: 0;
                height: 30px;
                top: 50%;
                transform: translateY(-50%);
                left: 50px;
                border-radius: 10px;
                padding: 0 10px;
                border: 2px solid #fff;
                color: #fff;
                background: transparent;
                outline: none;
                transition: width .4s ease-out, opacity .1s linear;
            }

            .search-active {
                opacity: 1;
                width: 200px;
            }
        }
    }

    &__info {
        text-align: right;
        font-weight: 500;
        transition: all 0.2s linear;
        a {
            text-decoration: none;
            color: #fff;
            
        }
        
        p {
            margin-top: 10px;
            color: #fff;
        }

        i.fa {
            margin-right: 5px;
            color: #fff;
        }
    }
}

// Fixed Header
.header.fixed {
    position: fixed;
    background: #fff;
    transition: transform 0.3s linear;

    .header__logo a {
        background: url(../img/logo2.png) center center/cover no-repeat;
    }

    .header__navmenu {
        ul {
            li {
                a {
                    color: #222;
                    &:hover {
                        color: #2f941b;
                    }
                }

                ul {
                    background: #fff;
                    padding: 20px 25px 15px;

                    li {
                        a {
                            color: #222;
                        }

                        &:last-child a {
                            color: #aaa;
                        }
                    }
                }
            }
        }

        .search {
            button {    
                i.fa {
                    font-size: 20px;
                    color: #222;
                }
            }

            input {
                border: 2px solid #222;
                color: #222;
            }
        }
    }

    .header__info {
        a {
            color: #222;
        }
        
        p {
            color: #222;
        }

        i.fa {
            color: #222;
        }
    }
}

.header.fixed .menu-btn {
    .line {
        background-color: #222;

        &:after, &:before {
            background-color: #222;
        }
    }
}

// Menu button
.menu-btn {
    width: 30px;
    height: 30px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    display: none;
    z-index: 10;
    transition: transform .3s ease-in;
    cursor: pointer;

    .line {
        position: relative;
        height: 3.3px;
        width: 90%;
        background-color: #fff;
        transition: all .1s ease-in;
        border-radius: 5px;

        &:before, &:after {
            position: absolute;
            display: block;
            content: '';
            width: 100%;
            height: 3.3px;
            background-color: #fff;
            left: 0;
            top: -7px;
            border-radius: 5px;
            transition: all .3s ease-in;
        }

        &:after {
            top: 7px;
        }
    }
}

// Menu content
.mobile-menu {
    opacity: 0;
    position: absolute;
    left: -100vw;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
    background: #fff;
    z-index: 9;
    transition: left 0.4s ease-out, opacity 0.4s ease-out;

    ul {
        list-style: none;
        margin-top: 20px;

        li {
            display: inline-block;
            width: 100%;
            // height: 20px;
            text-align: center;
            padding: 10px 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);

            &:hover ul {
                display: block;
            }

            a {
                text-decoration: none;
                color: #222;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            span {
                display: inline-block;
                margin-left: 8px;
                transform: rotate(90deg) scale(1.7);
            }

            &:last-child a {
                color: #aaa;
            }
        }
    } 

    .search {
        position: absolute;
        right: 15px;
        top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: top 0.3s linear;
        z-index: 3;

        input {
            width: 150px;
            height: 25px;
            margin-right: -5px;
            border: 1px solid #222;
            padding-left: 8px;

            &:focus {
                border: 1px solid #222;
                outline: none;
            }
        }

        button {
            width: 40px;
            height: 25px;
            border: none;
            outline: none;
            background-color: #222;
            transition: background .2s linear;

            &:active {
                background: #2f941b;
            }

            i.fa {
                color: #fff;
            }
        }
    }

    .menu-overlay {
        position: sticky;
        left: 0;
        top: 0;
        background: linear-gradient(to top, transparent 0%, #fff 10%);
        width: 100%;
        height: 80px;
        z-index: 2;
    }
}


// Menu animation
.active {
    left: 0;
    opacity: 1;
}

.line.active-arrow {
    background-color: rgba(255, 255, 255, 0) !important;
}

.line.active-arrow:before {
    top: 0;
    transform: rotate(45deg);
    background-color: #222;
}
.line.active-arrow:after {
    top: 0;
    transform: rotate(-45deg);
    background-color: #222;
}

// Intro
.intro {
    position: relative;
    max-width: 100%;
    height: 40vh;
    padding-top: 80px;
    padding-bottom: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &:after {
        position: absolute;
        display: block;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }

    h1 {
        width: 65%;
        font-weight: 500;
        font-size: 38px;
        color: #fff;
        z-index: 6;
        // font-family: 'Piazzolla', serif;
    }

    a {
        width: 280px;
        height: 50px;
        border: 1px solid rgb(168, 168, 168);
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        display: none;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        font-weight: 500;
        background-color: rgba(0, 0, 0, 0.5);
        transition: background-color 0.4s linear;
        z-index: 6;

        i.fa {
            margin-left: 10px;
            font-size: 20px;
        }

        &:hover {
            background-color: rgb(255, 255, 255);
            color: #000;
            // background-color: rgba(0, 0, 0, 0.45);
        }
    }

}

// Footer
.footer {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #222;
    color: #fff;
    border-top: 1px solid #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;

    br {
        display: none;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        order: 1;

        &-email, &-tel, &-address {
            display: flex;
            align-items: center;
            margin: 5px 0;

            i.fa {
                width: 20px;
            }
        }
    }

    &__socials {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        order: 3;

        &-vk, &-facebook, &-instagram {
            display: flex;
            align-items: center;
            margin: 5px 0;

            a {
                transition: color .15s linear;
            }

            i.fa {
                width: 20px;
                text-align: right;
                transition: color .15s linear;
            }
        }

        &-vk:hover {
            a {
                color: #4c75a3;
            }

            i.fa {
                color: #4c75a3;
            }
        }

        &-facebook:hover {
            a {
                color: #3b5998;
            }

            i.fa {
                color: #3b5998;
            }
        }

        &-instagram:hover {
            a {
                color: #ffae00;
            }

            i.fa {
                color: #E1306C;
            }
        }
    }

    &__copyright {
        order: 2;
        font-size: 15px;
        text-align: center;
    }

}

// Background Blur
.blur {
    position: absolute;
    left: 0;
    top: 0;
    width: 99.98%;
    height: 100%;
    backdrop-filter: blur(3px);
}

// Media Quaries
@media screen and (max-width: 1200.02px) {
    section, header, footer {
        padding: 0 calc(50vw - 480px);
    }

    header {
        .header__navmenu {
            li {
                margin: 0 10px;

                a {
                    font-size: 14px;
                }
            }
        }
    }

    .intro {
        h1 {
            font-size: 32px;
        }
    }

    .footer {
        &__copyright {
            font-size: 13px;
        }
    }
}

@media screen and (max-width: 992.02px) {
    section, footer {
        padding: 0 calc(50vw - 360px);
    }

    header {
        padding: 0 50px;
    }

    header .header__navmenu {
        display: none;
    }

    header .header__info {
        display: none;
    }

    .menu-btn {
        display: flex;
    }

    .intro {
        h1 {
            font-size: 28px;
        }
    }

    .footer {
        flex-wrap: wrap;

        &__copyright {
            position: relative;
            width: 100%;
            order: 4;
            font-size: 14px;
            margin-top: 20px;

            &:after {
                position: absolute;
                display: block;
                content: '';
                left: 0;
                top: -10px;
                width: 100%;
                height: 1px;
                background-color: #333;
            }
        }
    }
}

@media screen and (max-width: 768.02px) {
    section, footer {
        padding: 0 calc(50vw - 270px);
    }

    header {
        padding: 0 30px;
    }

    .intro {
        h1 {
            width: 100%;
            font-size: 24px;
        }
    }

    .footer {
        &__copyright {
            &:after {
                top: -10px;
            }
        }
    }
}

@media screen and (max-width: 576.02px) {
    section, header, footer {
        padding: 0 15px;
    }

    .intro {
        h1 {
            font-size: 24px;
        }

        a {
            width: 250px;
            height: 40px;
        }

        &:after {
            background-color: rgba(0, 0, 0, 0.7);
        }
    }

    .footer {
        &__contacts, &__socials {
            width: 100%;
            align-items: center;
            flex-wrap: wrap;
        }

        &__socials {
            &-vk, &-instagram, &-facebook {
                a {
                    order: 2;
                    margin-left: 5px;
                }
            }
        }
    }
}
